{{#name}}
## {{name}}
{{/name}}
{{#description}}{{{description}}}{{/description}}

{{#examples}}
**Example**:
```js
{{{examples}}}
```

{{/examples}}

{{#members}}
{{#typesString}}`{{typesString}}`{{/typesString}} {{#description}} {{{description}}}{{/description}}
{{/members}}

{{#methods}}
{{> function}}
{{/methods}}
