{{#modules}}
{{#overview}}**Overview:** {{{overview}}}
* * *
{{/overview}}


{{#functions}}
{{> function}}

{{/functions}}

{{#classes}}
{{> class}}

{{/classes}}

{{/modules}}
* * *

{{#copyright}}*{{copyright}}*{{/copyright}}
{{#author}}**Author:** {{author}}{{/author}}
{{#license}}**License:** {{license}} {{/license}}
{{#version}}**Version:** {{version}}{{/version}}