====
#### .{{name}} ({{#paramsString}}{{paramsString}}{{/paramsString}}) {{#version}}{{version}}{{/version}}

{{#description}}
{{{description}}}

{{/description}}
{{#deprecated}}
Deprecated: {{{deprecated}}}

{{/deprecated}}
{{#hasParams}}
Parameters:<br>
{{/hasParams}}
{{#params}}
— ***{{name}}***: {{#typesString}}`{{typesString}}`{{/typesString}}{{#description}}, {{{description}}}{{/description}}<br>
{{/params}}

{{#fires}}
**Fires**: {{.}}

{{/fires}}
{{#returns}}
**Returns**: {{#typesString}}`{{typesString}}`{{/typesString}}{{#description}}, {{{description}}}{{/description}}
{{/returns}}

{{#examples}}
**Example**:
```javascript
{{{examples}}}
```

{{/examples}}
